{% macro csrf(csrf) %}
	<input type="hidden" name="csrf_key" value="{{ csrf.key }}">
	<input type="hidden" name="csrf_value" value="{{ csrf.value }}">
{% endmacro %}

{% macro hidden(name, value, showAnyway=false) %}
	{% if value or showAnyway %}
		<input type="hidden" name="{{ name }}" id="f-{{ name }}" value="{{ value }}">
	{% endif %}
{% endmacro %}

{% macro input(name, label, value, required=false, disabled=false, help=false, coll='col-md-3 col-lg-2', colv='col-md-9 col-lg-4') %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="{{ coll }} col-form-label">{{ label }}{% if required %}*{% endif %}</label>
		<div class="{{ colv }}">
			<input type="text" name="{{ name }}" id="f-{{ name }}" value="{{ value ?? '' }}" class="form-control" {% if required %}required{% endif %} {% if disabled %}disabled{% endif %}>
			{% if help %}
				<div class="form-text">{{ help }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro email(name, label, value, required=false, disabled=false, help=false, coll='col-md-3 col-lg-2', colv='col-md-9 col-lg-4') %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="{{ coll}} col-form-label">{{ label }}{% if required %}*{% endif %}</label>
		<div class="{{ colv }}">
			<input type="email" name="{{ name }}" id="f-{{ name }}" value="{{ value ?? '' }}" class="form-control" {% if required %}required{% endif %} {% if disabled %}disabled{% endif %}>
			{% if help %}
				<div class="form-text">{{ help }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro password(name, label, required=false, disabled=false, help=false, coll='col-md-3 col-lg-2', colv='col-md-9 col-lg-4') %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="{{ coll}} col-form-label">{{ label }}{% if required %}*{% endif %}</label>
		<div class="{{ colv }}">
			<input type="password" name="{{ name }}" id="f-{{ name }}" class="form-control" {% if required %}required{% endif %} {% if disabled %}disabled{% endif %}>
			{% if help %}
				<div class="form-text">{{ help }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro number(name, label, value, required=false, disabled=false, help=false, coll='col-md-3 col-lg-2', colv='col-md-9 col-lg-4') %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="{{ coll}} col-form-label">{{ label }}{% if required %}*{% endif %}</label>
		<div class="{{ colv }}">
			<input type="number"  name="{{ name }}" id="f-{{ name }}" value="{{ value ?? '' }}" class="form-control" {% if required %}required{% endif %} {% if disabled %}disabled{% endif %}>
			{% if help %}
				<div class="form-text">{{ help }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro select(name, label, options, value, required=false, coll='col-md-3 col-lg-2', colv='col-md-9 col-lg-4') %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="{{ coll }} col-form-label">{{ label }}{% if required %}*{% endif %}</label>
		<div class="{{ colv }}">
			<select name="{{ name }}" id="f-{{ name }}" class="form-select form-select-sm" {% if required %}required{% endif %}>
				{% for v, l in options %}
					<option value="{{ v }}" {{ v == value ? 'selected' : '' }}>{{ l }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endmacro %}

{% macro date(name, label, value, required=false, disabled=false, help=false, coll='col-md-3 col-lg-2', colv='col-md-9 col-lg-4') %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="{{ coll }} col-form-label">{{ label }}{% if required %}*{% endif %}</label>
		<div class="{{ colv }}">
			<input type="date" name="{{ name }}" id="f-{{ name }}" value="{{ value ?? '' }}" class="form-control form-control-sm" {% if required %}required{% endif %} {% if disabled %}disabled{% endif %}>
			{% if help %}
				<div class="form-text">{{ help }}</div>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro textarea(name, label, value, rows=3, coll='col-md-3 col-lg-2', colv='col-md-9 col-lg-4') %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="{{ coll }} col-form-label">{{ label }}</label>
		<div class="{{ colv }}">
			<textarea name="{{ name }}" id="f-{{ name }}" rows="{{ rows }}" class="form-control">{{ value ?? '' }}</textarea>
		</div>
	</div>
{% endmacro %}

{% macro submit(btn='btn-primary', icon='check', label='Save', reset=true) %}
	<div class="row">
		<div class="col-md-3 col-lg-2">
		</div>
		<div class="col-md-8 col-lg-4">
			<button type="submit" class="btn {{ btn }} btn-sm me-2">
				<span data-feather="{{ icon }}"></span> {{ label }}
			</button>
			{% if reset %}
				<button type="reset" class="btn btn-warning btn-sm">
					<span data-feather="corner-up-left"></span> Reset
				</button>
			{% endif %}
		</div>
	</div>
{% endmacro %}
